*.conf
*.pyc
*.dot
*.xdot
*.eps
*.log
#*#
*~
state/nodes/*
!state/nodes/head
config/*
!config/example_*
!config/head.conf
requested/*
!requested/head.conf
graphs/*
!graphs/.README
logs/*
!logs/.README
bin/gen_img.sh
