*.conf
*.pyc
*.dot
*.xdot
*.eps
state/nodes/
!state/nodes/.gitignore
config/nodes/*
!config/nodes/example_*
config/commands/*
!config/commands/example_*
graphs/
bin/gen_img.sh
logs/
requested/nodes/
!requested/nodes/.gitignore
!requested/nodes/.README
