*.conf
*.pyc
*.dot
*.xdot
*.eps
*.log
#*#
*~
state/nodes/*
!state/nodes/localhost
config/*
!config/example_*
!config/localhost.conf
requested/*
!requested/nodes/localhost
graphs/*
!graphs/.README
!graphs/index.html
logs/*
!logs/.README
bin/gen_img.sh
