#Here all nodes are defined. 


define node{
	name:			raid_XX
	type:			raid
	address: 		
	run_dependencies: 	SW_ZZ
	on_dependencies:	fsnode_AA, SW_ZZ
	off_dependencies: 	fsnode_AA, SW_ZZ
	on_command:		fsnode_AA, root, snmp_on!snmp_ip!snmp_port_no
	off_command:		fsnode_AA, root, snmp_off!snmp_ip!snmp_port_no
}

define node{
	name:			raid_YY
	type:			raid
	address: 		
	run_dependencies: 	SW_ZZ
	on_dependencies:	fsnode_AA, SW_ZZ
	off_dependencies: 	fsnode_AA, SW_ZZ
	on_command:		fsnode_AA, root, snmp_on!snmp_ip!snmp_port_no
	off_command:		fsnode_AA, root, snmp_off!snmp_ip!snmp_port_no
}


define node{
	name:			SW_ZZ
	type:			switch
	address: 		
	run_dependencies: 	
	on_dependencies:	fsnode_AA
	off_dependencies: 	fsnode_AA
	on_command:		fsnode_AA, root, snmp_on!snmp_ip!snmp_port_no
	off_command:		fsnode_AA, root, snmp_off!snmp_ip!snmp_port_no
}

