#Here all nodes are defined. 


define node{
	name:			fsnode_AA
	type:			host
	address: 		
	run_dependencies: 	fsnode_AA
	on_dependencies:	fsnode_AA
	off_dependencies: 	fsnode_AA
	on_command:		fsnode_AA, root, None
	off_command:		fsnode_AA, root, None
}


define node{
	name:			fsnodeB
	type:			host
	address: 		
	run_dependencies: 	raid_XX, raid_YY, SW_ZZ
	on_dependencies:	fsnode_AA
	off_dependencies: 	fsnode_AA
	on_command:		fsnode_AA, root, example_ipmi!ipmi_ip_fsnodeB
	off_command:		fsnode_AA, root, example_ssh_shutdown!ip_fs_nodeB
}

define node{
	name:			nodeA
	type:			host
	address: 		
	run_dependencies: 	
	on_dependencies:	fsnodeB
	off_dependencies: 	fsnodeB
	on_command:		fsnodeB, root, example_ipmi!ipmi_ip_nodeA
	off_command:		fsnodeB, root, example_ssh_shutdown!ip_nodeA
}

